.about{
    width: 32.5rem;
    height: 70rem;
    border-radius: 0.5rem ;
    
    
    
}

img{height: 16rem;}

.about__section{
    height: 20%;
    background: white;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 1rem;
    margin-left: auto;
}