*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif ;
background: #faf9f8;
font-size: 1.6rem;
}

